<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>选择题</title>
    <style type="text/css">
      td { vertical-align: top;  }
      td > div { padding: 10px; border: 1px solid #f90; text-align:left;  }
    </style>
  </head>
  <body>
  <form action="/search/" method="get">
    <table cellspacing="30" width="100%" >
      <tr>
        <td><div><input type="text" style="width:800px; height:40px; font-size:16px;" value="The influence of the Moon on the tides on Earth is greater than that of the Sun. Which best explains this?" name="q"></div></td>
        <td width="200"><div><input type="submit" style="height:40px; font-size:16px;" value="GetAnswer"></div></td>
      </tr>
      <tr>
        <td><div  style="margin-right:10%;"><input type="text" style="width:600px; height:40px; font-size:16px;" value="A:The Moon is more similar in composition to Earth than the Sun." name="a"></div></td>
        <td></td>
      </tr>
      <tr>
        <td><div  style="margin-right:10%;"><input type="text" style="width:600px; height:40px; font-size:16px;" value="B:The Moon has a smaller mass than Earth and the Sun." name="b"></div></td>
        <td></td>
      </tr>
      <tr>
        <td><div  style="margin-right:10%;"><input type="text" style="width:600px; height:40px; font-size:16px;" value="C:The Moon has a higher density than the Sun." name="c"></div></td>
        <td></td>
      </tr>
      <tr>
        <td><div  style="margin-right:10%;"><input type="text" style="width:600px; height:40px; font-size:16px;" value="D:The Moon is closer to Earth than the Sun." name="d"></div></td>
        <td></td>
      </tr>
    </table>
    </form>
  </body>
</html>